<ul>
<% @collections.each do |collection| %>
  <li>Collection:
    <%= collection.title %>
    <%= render :partial => './display_photos', 
    :locals => {photos: collection.photos, size: :medium} %>
  </li>
<% end %>

</ul>