<% if @photos.length > 0 %>
<div id='favorites_index'>
  <ul>
  <% @photos.each do |photo| %>
  <li>
   <%= render partial: './display_photo', locals: {photo: photo, size: :medium} %>
  </li>
  <% end %>
  </ul>
</div>
<% else %>
<h3>Your Favorites!</h3>
You have no favorites yet!
<br>
<a href='/'>Click here to browse photos!</a>
<% end %>