<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%#= image_tag @user.avatar.url(:thumb) %>
<h2>Recently Uploaded Photos</h2>
<%= paginate @photos, :params => {:controller => "photos", :action => "index"} %>
<%= render :partial => './display_photos', :locals => {photos: @photos, size: :medium} %>
