<div class="tags">
	<ul>
	  <% @tags.each do |tag| %>
	    <li>
	      <%= tag.title %>
	    </li>
	  <% end %>
	</ul>
</div>


<%= render :partial => './display_photo', :locals => {photo: @photo, size: :large} %>
<div class="photo_title">
	<%= @photo.title %>
</div>
<div class="photo_description>"
	<%= @photo.description %>
</div>


