<%#= image_tag @user.avatar.url %>
<%#= image_tag @user.avatar.url(:medium) %>
<%#= image_tag @user.avatar.url(:thumb) %>

<%= link_to "Photos Index", photos_url %>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= tag.title %>
    </li>
  <% end %>
</ul>
<%= render :partial => './display_photo', :locals => {photo: @photo} %>


