<%= render :partial => './add_photo' %>

<div id="div_upload_form">
<%= form_for :photo, :url => upload_multiple_photos_path, :html => { :method => "put" , :id => "photo_form"} do |form| %>
  <br/>
<div id="div_photo_ids">
</div>

  <input type="text" placeholder="Add a Title" name="photo[title]">
  <br>
  <input type="text" placeholder="Add a Description" name="photo[description]">
  <input type="hidden" name="photo[saved]" value="true">
  <%= render :partial => './add_tag' %>
  <%= render :partial => './select_collections'%>
  

<input type="button" value="Submit" onClick="this.form.submit();" id="photo_form_submit" />

<% end %>

</div>
<script>
$(function(){
  // photo_ids = [];

  var submitClicked = false;

  $('#photo_form_submit').click(function(event){
    submitClicked = true;
  })

  hasPhoto = function(){
    return $('#add_photo_div li').length > 0

  }

  $(window).bind("beforeunload", function(){
    if(submitClicked === false && hasPhoto() ){
      return confirm("Do you really want to leave page before upload?")
    }
  })



})

</script>