<ul class="list_edit_photo grid">
<% @photos.each do |photo| %>

    <li>
	    <%= render :partial => './display_photo', :locals => {photo: photo, size: :medium, :@ignoreMeta => true} %>
	    <%= render :partial => './delete_photo', :locals => {photo: photo} %>
	 </li> 
<% end %>
</ul>
