<label for="tag">Tags:</label>
<ul id="tags_list">

</ul>

<div id="tags" class="ui-helper-clearfix">
  <input type="text" 
          placeholder="Add Tag,[enter] to append"
          id="tag_input"
          name="photo[tag_ids][]">
</div>
