<div id="add_photo_div">
</div>
<form id="add_a_photo_form" 
      action="/photos"
      enctype="multipart/form-data" 
      method="POST">
  <input name="authenticity_token" 
          type="hidden"
          value="$('meta[name="csrf-token"]').attr('content')" />
  <input type='file' name="photo[image]" id="add_a_file" STYLE="opacity: 0.5">
  <!-- <input type="submit"> -->
</form>
  <!-- <input type='file' name ="photo_uploads[0][photo][image]" id="add_a_file" STYLE="opacity: 0.5">
 -->
  <!-- <a  href="#" id="add_photo">Add Photo</a> -->
<a href='#' id="click_to_add_file">Add A Photo</a>

<script>
  $('#click_to_add_file').click(function(){
    $('#add_a_file').click();
  })
  $(function(){
    $('input:file').on('change',function(event){
      // console.log($(this).val(''));       //to clear file input
      // console.log($(this).serialize());
      console.log($(this.form));
      console.log('on change')
      var that = this
      $(this.form).ajaxSubmit({
        beforeSubmit: function(arr,$form,options){
          options.dataType = "json"
        },
        complete: function(XMLHttpRequest, textStatus){
          if(textStatus === "success"){
            console.log("success")
            photo = XMLHttpRequest.responseJSON
            var photoTemplateFn = JST['uploaded_photo']
            var photoTemplate = photoTemplateFn({photo: photo})
            $('#add_photo_div').append(photoTemplate)
            $(that).val('');
          }
        }
      })
    })
})





//current usage
$(function(){

  $('#add_photo').click(function(event){
    console.log('add photo click')
    var template = JST['add_photo']();
    $('#add_photo_div').append(template);
  })
})

</script>
