<div class="photo_meta">
<a href="/photostreams/<%= photo.user.photostream.id%>">
  <%= photo.user.username || photo.user.email %>
</a>
<%= render :partial => './friendship_form', :locals =>{user: photo.user} %>
<%= render :partial => './photo_favorite', :locals => {photo: photo} %>




