<label for="collection">Collections:</label>
<ul id="collections_list">

</ul>

<div id="collections" class="ui-helper-clearfix">
  <input type="text" 
          placeholder="Add to Collection, [enter] to append"
          id="collection_input"
          name="photo[collection_ids][]">
</div>